# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
--------------------------------------------------------------------
1. Pandas
2. SciKit
3. ggplot2

| Data Science Tools |
|---------------|
| Apache Spark |
| Tensor Flow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Identify common data science libraries
- Demonstrate arithmetic operations in Python
- List popular data science development tools

## Author
James Lauer